form {
	margin-bottom: 2.5rem;
	div.form-input {
		clear: both;
		margin-bottom: 1rem;
		label, input, textarea, select, p.error {
			font-size: 1.4rem;	
		}
		label {
			width: 18rem;
			padding: .5rem .5rem .5rem 0;
			display: inline-block;	
			cursor: pointer;
			vertical-align: middle;
			&:after {
				content: " : ";	
			}
		}
		input, textarea, select {
			padding: .5rem;
			display: inline-block;	
			border: 1px solid lighten(#333, 10%);
			transition: border-color 0.25s, background 0.25s;
			vertical-align: middle;
			
			&::placeholder {
				opacity: 1;	
			}
			
			&:hover {
				border-color: darken(#333, 10%);
				cursor: pointer;
			}
			&:focus {
				background: lighten(#333, 10%);
				box-shadow: 0 0 0 3px lighten(#333, 40%);
				border-color: transparent;
				
				&,
				&::placeholder {
  					color: #fff;
				}
			}
			
			
		}
	
	
		input[type=file] {
			padding: 0 0.5rem;
		}
		select {
			padding: 0.5rem 0;	
		}
		div.autocomplete-search {
			display: inline-block;
			position: relative;
			transition: opacity 0.25s;
			ul.autocomplete-choices {
				position: absolute;
				z-index: 1;
				margin-top: 3px;
				border: 1px solid lighten(#333, 10%);
				
				box-shadow: 0 0 0 3px lighten(#333, 40%);
				
				background: #fff;
				transition: opacity 0.25s;
				&.hide {
					opacity: 0;	
				}
				li.autocomplete-choice {
					padding: 0.5rem;
					font-size: 1.4rem;
					cursor: pointer;
					transition: color 0.25s, background 0.25s;
					&:nth-child(odd) { 
						background-color: lighten(#333, 60%);
					}	
					&.target {
						color: #fff; 
						background-color: lighten(#333, 40%);
					}
				}
			}
		}
		p.error {
			color: #eb0000;
			margin: 0.5rem 0 0;
		}
	
		label + img {
			margin-right: 1rem;	
		}
	}

	div.form-input input[type="submit"] {
		background: #333;
		color: #fff;
		border: 1px solid #000;
		border-radius: 3px;
		padding: 0.5rem 2rem;
		transition: text-shadow 0.25s, background 0.25s;
		&:hover {
			text-shadow: 0 0 0.3rem darken(#fff, 10%);
			cursor: pointer;
			background: darken(#333, 10%);
		}
	}

	&.inline {
		&:not(.errors) {
			div.form-input { 
				margin-bottom: 0;
			}
		}
		
		div.form-input { 
			display: inline-block;
			
		}
		&.errors {
			div.form-input-submit {
				display: block;	
			}
		}
		&:not(.errors) {
			div.form-input {
				input:not([type="submit"]) {
					margin-right: 1.5rem;	
				}
			}
		}
	}	
}